{% extends "base_template.html" %}
{% load static %}

{% block headers %}
<link rel="stylesheet" href="{% static 'css/autor_detalle.css' %}">
<title>Libro</title>
{% endblock %}

{% block content %}
<div class="container detalle">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.first_name }}</td>
            <td>{{ object.last_name }}</td>
            <td>{{ object.birth_date }}</td>
          </tr>
        </tbody>
      </table>    
</div>

{% endblock %}